<ion-header>
  <ion-toolbar color="primary">
  	<ion-buttons slot="start">
  		<ion-back-button text=""></ion-back-button>
  	</ion-buttons>
    <ion-title>Football Match</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://media.npr.org/assets/img/2020/06/10/gettyimages-200199027-001-b5fb3d8d8469ab744d9e97706fa67bc5c0e4fa40-s1100-c50.jpg"/>
  <ion-card>
  	<ion-card-title>Event Information</ion-card-title>
  	<ion-card-content>
  		<p class="datetime">13/05/2023 19:00</p>
        <h2 class="address">Football Match</h2>
        <p class="location"><ion-icon name="location"></ion-icon>Wyncote Sports Ground, L18 6HF</p>
  	</ion-card-content>
  </ion-card>

  <ion-card>
  	<ion-card-title>Description</ion-card-title>
  	<ion-card-content>
        <h2 class="description">We're playing a football match on pitch 5 tonight at 7pm, come join us!</h2>
  	</ion-card-content>
  </ion-card>
  <ion-button color="light"  expand="full">Like</ion-button>

</ion-content>