<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title size="large">Your friends</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Friend requests</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item color="tertiary">
        <ion-avatar slot="start">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>
          <h1>Salim Al Busaidi</h1>
          <p>Has requested to be your friend.</p>
          <ion-button>Accept</ion-button>
          <ion-button>Ignore</ion-button>
        </ion-label>
      </ion-item>

      <ion-item color="tertiary">
        <ion-avatar slot="start">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>
          <h1>Ata Karasu</h1>
          <p>Has requested to be your friend.</p>
          <ion-button>Accept</ion-button>
          <ion-button>Ignore</ion-button>
        </ion-label>
      </ion-item>
  
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Friends List</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item color="tertiary">
        <ion-avatar slot="start">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>
          <h1>John Doe</h1>
          <p>is your friend.</p>
          <ion-button>Unfriend</ion-button>
        </ion-label>
      </ion-item>

      <ion-item color="tertiary">
        <ion-avatar slot="start">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>
          <h1>Jane Doe</h1>
          <p>is your friend.</p>
          <ion-button>Unfriend</ion-button>
        </ion-label>
      </ion-item>

      <ion-item color="tertiary">
        <ion-avatar slot="start">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>
          <h1>Jack Sparrow</h1>
          <p>is your friend.</p>
          <ion-button>Unfriend</ion-button>
        </ion-label>
      </ion-item>

      <ion-item color="tertiary">
        <ion-avatar slot="start">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>
          <h1>Luke Skywalker</h1>
          <p>is your friend.</p>
          <ion-button>Unfriend</ion-button>
        </ion-label>
      </ion-item>

      <ion-item color="tertiary">
        <ion-avatar slot="start">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>
          <h1>Peter Parker</h1>
          <p>is your friend.</p>
          <ion-button>Unfriend</ion-button>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
