<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Create Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
  <ion-card-header>
    <ion-card-title>Event information</ion-card-title>
  </ion-card-header>

  <ion-card-content>
  <ion-item>
    <ion-input label="Event title" labelPlacement="floating" placeholder="Enter text" type="text"></ion-input>
  </ion-item>
   <ion-item>
    <ion-input label="Event type" labelPlacement="floating" placeholder="Enter text" type="text"></ion-input>
  </ion-item>
   <ion-item>
    <ion-input label="Event description" labelPlacement="floating" placeholder="Enter text" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Capacity" labelPlacement="floating" placeholder="Enter text" type="number"></ion-input>
  </ion-item>
  </ion-card-content>
</ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Location & Time</ion-card-title>
    </ion-card-header>
  <ion-card-content>
  <ion-item>
    <ion-input label="Address" labelPlacement="floating" placeholder="Enter text" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Date" labelPlacement="floating" placeholder="Enter text" type="date"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Time" labelPlacement="floating" placeholder="Enter text" type="Time"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Duration" labelPlacement="floating" placeholder="Enter text" type="Text"></ion-input>
  </ion-item>
  </ion-card-content>
</ion-card>

<ion-button size="full" color="light">Create</ion-button>

</ion-content>
