ion-content {
	--background: var(--ion-color-primary);
}

ion-title {
    text-align: center;
    margin-top: 1%;
}

ion-list {
    padding-top: 1.5%;
}

ion-item {
    padding-top: 1%;
}

ion-thumbnail {
    --size: 40px;
    --border-radius: 5px;
  }

