<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
  <ion-card-header>
    <ion-card-title>Personal Information</ion-card-title>
  </ion-card-header>

  <ion-card-content>
  <ion-item>
    <ion-input label="First name" labelPlacement="floating" placeholder="Enter text" type="text"></ion-input>
  </ion-item>
   <ion-item>
    <ion-input label="Last name" labelPlacement="floating" placeholder="Enter text" type="text"></ion-input>
  </ion-item>
   <ion-item>
    <ion-input label="Email" labelPlacement="floating" placeholder="Enter text" type="email"></ion-input>
  </ion-item>
   <ion-item>
    <ion-input label="Age" labelPlacement="floating" placeholder="Enter text" type="number"></ion-input>
  </ion-item>
   <ion-item>
    <ion-input label="University" labelPlacement="floating" placeholder="Enter text" type="text"></ion-input>
  </ion-item>
  </ion-card-content>
</ion-card>

  <ion-card>
  <ion-card-content>
  <ion-item>
    <ion-input label="Username" labelPlacement="floating" placeholder="Enter text" type="text"></ion-input>
  </ion-item>

  </ion-card-content>
</ion-card>

  <ion-card>
  <ion-card-content>
  <ion-item>
    <ion-input label="Password" labelPlacement="floating" placeholder="Enter text" type="password"></ion-input>
  </ion-item>
    <ion-item>
    <ion-input label="Repeat password" labelPlacement="floating" placeholder="Enter text" type="password"></ion-input>
  </ion-item>
  </ion-card-content>
</ion-card>
<ion-button size="full" color="light" [routerLink]="['/']" >Register</ion-button>

    <ion-input label="Username" labelPlacement="floating" placeholder="Enter text" type="text"></ion-input>


  <ion-card>
  <ion-card-content>
  <ion-item>
    <ion-input label="Password" labelPlacement="floating" placeholder="Enter text" type="password"></ion-input>
  </ion-item>
    <ion-item>
    <ion-input label="Repeat password" labelPlacement="floating" placeholder="Enter text" type="password"></ion-input>
  </ion-item>
  </ion-card-content>
</ion-card>
<ion-button size="full" color="light">Register</ion-button>

</ion-content>
